<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartExplorer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <div class="container">
        <h1>Smart Explorer</h1>

        <form id = "search-form">
            <select id="place-type">
                <option value="Cafes">Cafes</option>
                <option value="Street-Food">Street Food</option>
                <option value="Hangout">Hangout</option>
            </select>
            <input type="text" id="location-input" placeholder="Enter a location" required>
            <button type="submit" id="search-place">
                <i class="fas fa-search"></i>
                Search
            </button>
        </form>

        <div id="map"></div>

        <div id="result-list"></div>
    </div>

    <div id = "box" class="box">
        <div class="box-content">
            <button class="close-btn" id="box-close">x</button>
            <h2 id="box-name">Place Name</h2>
            <p><strong>Ratings: </strong><span id="box-ratings"></span></p>
            <p><strong>Location: </strong><span id="box-location"></span></p>
            <p><strong>Address: </strong><span id="box-address"></span></p>
            <p><strong>Phone No.: </strong><span id="box-phone"></span></p>
            <p><strong>Timing: </strong><span id="box-timing"></span></p>
        </div>
    </div>
     
    <script src="/static/js/script.js"></script>

</body>
</html>
    




